h2 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #1A3410;
}

.spacer {
    flex: 1;
}

p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #1A3410;
}

